@use 'variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: variables.$font-staks

body
    position: relative

    .header
        position: absolute
        top: 0
        width: 100%
        z-index: 2

        &-nav
            background: rgba(255, 255, 255, 0)
            display: flex
            justify-content: space-between
            justify-items: center
            padding: 2.5rem 1.5rem

            &-menu
                background: none
                border: none
                display: flex
                align-items: center

            &-logo
                display: flex
                align-items: center
                margin: 0 auto

            &-topics
                display: flex
                list-style: none
                gap: 2rem

                li
                    button
                        background: none
                        border: none
                        color: variables.$primary-font-color
                        text-transform: lowercase
                        font-weight: 700
                        font-size: 16px

        &-nav-off
            background: rgb(255, 255, 255)

    .fade
        z-index: 1
        position: fixed
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.5)

    .hide
        display: none

    .main

        .section

            &_imgContainer
                position: relative

                &_image
                    width: 100%

                &_angles
                    position: absolute
                    bottom: 4px
                    right: 0

                    &_buttons
                        background: variables.$buttons-bg
                        border: none

                        .angles
                            width: 58px
                            padding: 1rem 1.5rem

            &_textContainer
                padding: 4rem 2rem
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 1rem

                h2
                    color: variables.$primary-font-color
                    font-size: 32px

                p
                    color: variables.$secondary-font-color
                    font-size: 15.2px
                    line-height: 21px
                    padding-bottom: 1.5rem

                button
                    background: none
                    border: none
                    display: flex
                    gap: 1.5rem

                    span
                        text-transform: uppercase
                        letter-spacing: 10px
                        font-weight: 600
                        font-size: 15px

        .section_secondary

            &_image
                width: 100%

            &_textContainer
                padding: 3rem 2rem
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 1rem

                h2
                    color: variables.$primary-font-color
                    font-size: 15px
                    text-transform: uppercase
                    letter-spacing: 5px

                p
                    color: variables.$secondary-font-color
                    font-size: 15.2px
                    line-height: 21px

@media screen and (min-width: 1360px)
    body
        position: relative

        .header
            position: absolute
            top: 0
            width: 100%
            z-index: 2

            &-nav
                background: rgba(255, 255, 255, 0)
                display: flex
                justify-content: flex-start
                gap: 3rem
                justify-items: none
                padding: 3rem 3.5rem

                &-menu
                    display: none

                &-logo
                    display: flex
                    align-items: center
                    margin: 0

                &-topics
                    display: flex
                    list-style: none
                    gap: 2rem

                    li
                        button
                            background: none
                            border: none
                            color: variables.$tertiary-font-color
                            text-transform: lowercase
                            font-weight: 500
                            font-size: 16px
                            cursor: pointer
                            padding: 0.5rem 0

                            &:hover
                                border-bottom: 3px solid #FFFFFF
                                padding: 0.4rem 0

            &-nav-off
                background: rgb(255, 255, 255)

        .fade
            z-index: 1
            position: fixed
            width: 100%
            height: 100%
            background: rgba(0, 0, 0, 0.5)

        .hide
            display: none

        .header
            &-nav
                &-topics
                    display: flex
                    list-style: none
                    gap: 2rem

        .main

            .section
                position: relative
                display: flex
                flex-wrap: wrap
                width: 100%

                &_imgContainer
                    position: relative
                    width: 55%
                    height: 420px
                    margin: 0

                    &_image
                        width: 100%
                        height: 100%

                    &_angles
                        position: absolute
                        bottom: -1px
                        right: -124px

                        &_buttons
                            background: variables.$buttons-bg
                            border: none

                            &:hover
                                opacity: 0.7

                            .angles
                                width: 62px
                                padding: 1.3rem 1.5rem

                &_textContainer
                    width: 45%
                    padding: 5rem 8rem
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    gap: 1rem

                    h2
                        color: variables.$primary-font-color
                        font-size: 38px

                    p
                        color: variables.$secondary-font-color
                        font-size: 15.2px
                        line-height: 21px
                        padding-bottom: 0.5rem

                    button
                        background: none
                        border: none
                        display: flex
                        gap: 1.5rem
                        cursor: pointer

                        &:hover
                            opacity: 0.3

                        span
                            text-transform: uppercase
                            letter-spacing: 10px
                            font-weight: 600
                            font-size: 15px

            .section_secondary
                display: flex

                &_image
                    width: 26%

                &_textContainer
                    padding: 3.5rem 3rem
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    gap: 1rem

                    h2
                        color: variables.$primary-font-color
                        font-size: 15px
                        text-transform: uppercase
                        letter-spacing: 5px

                    p
                        color: variables.$secondary-font-color
                        font-size: 15.2px
                        line-height: 21px
